{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<head>
</head>
<body>
    <h1 class="lead">General tips</h1>
    <div>

    </div>
    <h1 class="lead">Technical interview</h1>
    <div>
        Leetcode is the king of Coding prep.:
        <a href="https://leetcode.com/" target="_blank">Leetcode</a>
        If you're looking for a more beginner-friendly approach, consider these resources:
        
    </div>
    <h1 class="lead">Industry-specific</h1>
    <div>

    </div>
    
</body>
</html>
{% endblock %}